<h1>Editing flight</h1>

<% form_for(@flight) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nr %><br />
    <%= f.text_field :nr %>
  </p>
  <p>
    <%= f.label :departure_datetime %><br />
    <%= f.datetime_select :departure_datetime %>
  </p>
  <p>
    <%= f.label :arrival_datetime %><br />
    <%= f.datetime_select :arrival_datetime %>
  </p>
  <p>
    <%= f.label :departure_airport_id %><br />
    <%= f.text_field :departure_airport_id %>
  </p>
  <p>
    <%= f.label :arrival_airport_id %><br />
    <%= f.text_field :arrival_airport_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @flight %> |
<%= link_to 'Back', flights_path %>